.intro {
    display:flex;
    align-items:center;
}

.dark-mode {
    background-color: #515254;
    color:white
}

.dark-mode header {
    background-color: #1a1a1a; /* Darker header background in dark mode */
}

.dark-mode nav ul li a {
    color:white;
}

header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: white;
    z-index: 1000;
    padding:70px;
    font-family: Monaco;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#darkModeToggle {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#darkModeToggle img {
    width: 100px;  
    height: 100px; 
    object-fit: contain;
    position: absolute;
}

#darkmode {
    left:50px;
    transform: translate(-5px, -70px);
}

#darkIcon {
    left:110px;
    transform: translate(3px, -10px);
}


nav {
    display: flex;
    margin: auto;
}

nav ul {
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    font-size: 25px;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #404048;
    font-family: 'Monaco';
}

nav ul li a:hover {
    font-weight: bold;
    color: black;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
    color:black;
    font-size: 24px;
    padding-right: 60px;
}

.container {
    padding-top: 30px;
}

.container iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height: 900px;
    border:none;
}

.container > div {
    text-align: left;
    margin: 0 auto;
    width: 40%;
}

.Name, .catImage {
    margin-right:50px;
}

.catImage img{
    border:3px solid white;
    border-radius:50%;
    object-fit: cover;
    width:150px;
    height:150px;
}

body {
    padding-top:150px;
    margin:10px;
    background-color: #FFF9E6;
    color:#404048
}

h1, h2 {
    font-family: 'Monaco';
}

h2 {
    position:relative;
    display:inline-block;
    padding-bottom: 5px;
}

h2::after {
    content:'';
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:3px; /*thickness of underline*/
    background:#6C676E;
}

p,a {
    font-family: 'Arial';
}

.sns a {
    text-decoration: none;
    vertical-align: middle;
}

.sns img{
    vertical-align: middle;
}

.COMINGSOON {
    font-family: 'Monaco';
    font-size: 20px;
}
