.intro {
    display:flex;
    align-items:center;
}

.dark-mode {
    background-color: #515254;
    color:white
}

.dark-mode header {
    background-color: #1a1a1a; /* Darker header background in dark mode */
}

.dark-mode nav ul li a {
    color:white;
}

header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: white;
    z-index: 1000;
    padding:70px;
    font-family: Monaco;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#darkModeToggle {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#darkModeToggle img {
    width: 60px;  
    height: 60px;
    object-fit: contain;
    position: absolute;
    transform: translate(10px, -25px);
    background: none;
    border-radius: 50%;
    z-index: 1; /* Higher than the background */
}

#darkmode {
    left:50px;
    transform: translate(-5px, -70px);
}



nav {
    display: flex;
    margin: auto;
}

nav ul {
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    font-size: 25px;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #404048;
    font-family: 'Monaco';
}

nav ul li a:hover {
    font-weight: bold;
    color: black;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
    color:black;
    font-size: 24px;
    padding-right: 60px;
}

.container {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.container iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height: 900px;
    border:none;
}

.container > div {
    text-align: left;
    margin: 0 auto;
    width: 40%;
}

.Name, .catImage {
    margin-right:50px;
}

.catImage img{
    border:3px solid white;
    border-radius:50%;
    object-fit: cover;
    width:150px;
    height:150px;
}

body {
    padding-top:150px;
    margin:10px;
    background-color: #FFF9E6;
    color:#404048
}

h1, h2 {
    font-family: 'Monaco';
}

h2 {
    position:relative;
    display:inline-block;
    padding-bottom: 5px;
}

h2::after {
    content:'';
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:3px; /*thickness of underline*/
    background:#6C676E;
}

p,a {
    font-family: 'Arial';
}

.sns a {
    text-decoration: none;
    vertical-align: middle;
    color: #404048;
}

.sns a:hover {
    font-weight: bold;
}

.sns img{
    vertical-align: middle;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(20px, 1fr));
    gap:10px;
    padding: 20px;
    max-width: 50%;
    margin: auto;
    justify-items: center;
}

.project {
    background: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin:10px;
    align-items: center;
  }

  .project-detail img {
    width: 100%;
    height: auto;
    object-fit: contain;
    
  }

  .project-description {
    padding: 15px;
    text-align: center;
    color: #1a1a1a;
  }

  .project a {
    text-decoration: none;
  }

  .dark-mode .project {
    background-color:#1a1a1a
  }

  .dark-mode .project-description {
    color: white;
  }

 .eachWork {
     margin-bottom: 100px;
 }

  .eachWork a {
    text-decoration: none;
    color: dimgray;
  }

  .dark-mode .eachWork a {
      color: silver;
  }

  .eachWork a:hover {
    font-weight: bold;
    color: dimgray;
  }

  .eachWork span {
    font-size:20px;
    font-weight: bold;
  }

  .eachWorkDescription {
    padding: 20px;
  }

  .property {
    margin: 0 auto;
  }

  .badge {
    text-transform: uppercase;
    color:rgb(63, 112, 77);
    background-color:rgba(154, 230, 180, 0.16);
    padding: 4px 8px;
    border-radius: 7px;
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .dark-mode .badge {
    color:#9ae6b4;
    background-color:rgba(154, 230, 180, 0.16);
  }

  .appLink {
      text-decoration: none;
      color:black;
  }

  .dark-mode .appLink {
      color:white;
  }

  .appLink:hover {
      text-decoration: underline;
  }

  .appLink::after {
    content: '';
    display: inline-block;
    width: 20px; /* or the size of your actual icon */
    height: 19px; /* or the size of your actual icon */
    background-image: url('../icons/url.svg'); /* replace with your actual icon path */
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    left:2px;
    top:2px;
  }

  .appImage {
    margin-bottom: 20px;
    width: 100%;
    height: auto; 
  }

  .resume {
    display: flex;
    justify-content: center; /* This centers the child elements (images) horizontally */
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }
  .resume img {
    width:50%;
    height:auto;
    margin-top: 10px;
  }